build-essential
libpng-dev
libjpeg62-turbo-dev
libfreetype6-dev
locales
zip
jpegoptim
optipng
pngquant
gifsicle
vim
unzip
git
curl
libzip-dev
libmcrypt-dev
libxml2-dev
libicu-dev
libonig-dev
default-mysql-client
